wheel==0.36.2
slackweb==1.0.5
requests==2.23.0
lxml==4.6.2
numpy==1.21.0
fastprogress==1.0.0
pyyaml==5.3.1
beautifulsoup4==4.9.0
chromedriver-binary==87.0.4280.88.0
selenium==3.141.0
arxiv==0.5.3
webdriver-manager==3.3.0
